/*Header component css*/
.upperDiv {
  background-color: #1F211F;
  height: 100%;
}

.blackFont{
  color: #1F211F;
}

/*Footer Component css*/
.footerText {
  font-size: 8px;
  display: inline;
  margin-left: 8%;
  margin-right: 8%;
  position: relative;
  top:60%
}

@media screen and (max-width: 480px) {
 .footerTextMobile{
    position:static;
  }
  .footerDiv{
    background-color: #6C716C; 
  }
}

.addressDiv {
  background-color: #6C716C;
}

