/*Header component css*/
.upperDiv {
  background-color: #1F211F;
}

.taransParent{
  /*opacity: 0.4;*/
  background-color: #ffffff;
  
}

.gardientBtn{
  background: linear-gradient(180deg, #124016 11.46%, rgba(11, 20, 100, 0) 100%);
  background-color: transparent;
}

/*Footer Component css*/
.footerLogo {
  width: 50%;
}

/*navigation bar*/
.navBar {
  background-color: #124017;
} 

/*Mobile pop up*/
.textAlign {
  text-align: center;
}

.taransParentMobile .modal-content{
  opacity: 0.5;
}

.greenColor {
  background-color: #12401799;
  border-radius: 10px;
  font-family: 'Sunshiney', cursive;
  font-size: 380%;
  color: #000200;
  font-weight: 1000;
}

.mainLogo {
  width: 80%;
}

.minorLogo {
  width: 40%;
}

/*Home Page*/
.homeImage {
  background-size: 100%;
  background-position: center;
  display: block;
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 480px) {
  .secondDivmobile {
    text-align: center;
  }
}

/*Middle Bar*/
.dolpeMainText {
  font-family: 'Sunshiney', cursive;
  color: #61971C;
  font-weight: 400;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 4px;
}

.taransParentMiddleBar{
  opacity: 0.7;
}

.dolpeText {
  font-family: 'Baumans', cursive;
  color:  #61971C;
}

.secondDiv{
  margin-left: 10%;
  margin-right: 10%;
  color: #FFFFFF;
}

.blueArea{
  background-size: cover;
  background-position: center;
  display: block;
  height: auto;
  background-image: linear-gradient(0deg, rgba(3, 15, 81, 0.42), rgba(3, 15, 81, 0.42));
}

.textSizeAndCOlor {
  font-size: 10px;
  margin-top: 5%;
  color: #ffffff;
}

.blueAreaRow {
  margin-top: 10%;
}

.button {

  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  background: linear-gradient(180deg, #030F51 0%, rgba(255, 255, 255, 0) 100%);
}

.button:hover{
  background: linear-gradient(180deg, #042612 0%, rgba(255, 255, 255, 0) 100%);
  font-weight: 1000;
  font-size: 21px;
}

.locationText{
  size: 34px;
}

.smallLocationText{
  font-size: 15px;
 line-height: 1;
}

.imageSTyles{
  height: 5%;
  width: 10%;
}

/*Suite Room*/
.unOrderdList {
  list-style-type:disc;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color:#61971C;
}

.list {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align:end;
  padding: 16px;
  text-decoration: none;
  position: relative;
  left: -15px;
  line-height: 0.1px;
}

/*Facilities*/
.facilList{
  padding-top: 3%;
  color: #ffffff;
}

.facilOrdList{
  list-style: none;
}

.facilBeforeList::before{
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: rgb(0, 255, 64); /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

/*Dinning*/
.dinningBtnSec{
  margin-top: 5%;
}

/*Bookings*/
.greenText{
  color: "#7CA844";
}

