/*Header component css*/
.upperDiv {
  background-color: #1F211F;
}

.taransParent{
  /*opacity: 0.4;*/
  background-color: #ffffff;
  
}

.gardientBtn{
  background: linear-gradient(180deg, rgba(3, 15, 81, 0.4) 0%, rgba(92, 88, 107, 0) 100%);
}

/*Footer Component css*/
.footerText {
  font-size: 8px;
  display: inline;
  margin-left: 8%;
  margin-right: 8%;
  position: relative;
  top:60%
}

@media screen and (max-width: 480px) {
 .footerTextMobile{
    position:static;
  }
  .footerDiv{
    background-color: #6C716C; 
  }
  .hiddenUpperDiv {
    visibility: hidden;
  }
}

.addressDiv {
  background-color: #6C716C;
}

/*navigation bar*/
.navBar {
  background-color: #124017;
} 

/*Mobile pop up*/
.textAlign {
  text-align: center;
}

.taransParentMobile .modal-content{
  opacity: 0.5;
}

.greenColor {
  background-color: #12401799;
  border-radius: 10px;
  font-family: 'Sunshiney', cursive;
  font-size: 380%;
  color: #000200;
  font-weight: 1000;
}

.mainLogo {
  width: 80%;
}

.minorLogo {
  width: 40%;
}

/*Home Page*/
.homeImage {
  background-size: cover;
  background-position: center;
  display: block;
  height: auto;
}

/*Middle Bar*/
.taransParentMiddleBar{
  opacity: 0.7;
}

.dolpeText {
  font-family: 'Baumans', cursive;
  color:  #61971C;
}

.secondDiv{
  margin-left: 10%;
  margin-right: 10%;
  color: #FFFFFF;
}

.blueArea{
  background-size: cover;
  background-position: center;
  display: block;
  height: auto;
  background-image: linear-gradient(0deg, rgba(3, 15, 81, 0.42), rgba(3, 15, 81, 0.42));
}